{% extends "base.html" %}
{%load static%}
{%block content %}
<div class="content">
    <h1>Computer and Data Sciences Department</h1>
</div>
<link rel="stylesheet" href="{% static 'css/banner.css' %}"/>
<div class="banner">
    <img src="{% static 'images/cs_banner.jpg'%}"/>
</div>
<div class="after-banner content">
    <p>
        Our Computer and Data Sciences programs allow you to grow, learn, and excel within the fields. You’ll learn the basics of programming languages, algorithms, and much more as our outstanding faculty and staff guide you toward being the leading force in the era of computing.
    </p>
    <p>
        We strive to overcome any challenge and push boundaries, leading us to highly notable discoveries. We provide our students with state-of-the-art facilities where they can apply knowledge learned inside the classroom and transform it into tangible results.
    </p>
    <p>
        Like most of Case School of Engineering’s programs, the Department of Computer and Data Sciences structures its curriculum to be both interdisciplinary and multidisciplinary—allowing you to gain a well-rounded balance of academics and real-world experience. 
    </p>
    <h2>Mission</h2>
    <p>
        The mission of the Department of Computer and Data Sciences is to prepare students with the technical breadth and communication skills they need to solve significant problems in industry and society. We develop students who can be leaders and innovators in their fields. 
    </p>
    <p>
        We aim to advance knowledge in computer science, data science, and multidisciplinary areas through high-impact scholarship and research—providing service to the profession, the university, the community and society.
    </p>
    <h2>Vision</h2>
    <p>
        Our vision is to build a research identity around the intersections of computing, information sciences, and data analytics, and to build an educational identity through leading degree programs based on curricular innovation and research in computer and data science.
    </p>
    <p>
        Our educational approach emphasizes a solid technical base combined with critical thinking, emotional intelligence and experiential learning while encouraging entrepreneurship through open innovation with quality, high-impact service. 
    </p>
    <h2>History</h2>
    <p>
        Case School of Engineering was founded on the idea of going beyond expectations and challenging our own capabilities. We’re a university fueled by entrepreneurial ambition and dedication, which led to us playing a pioneering role in academics, research and developing the first accredited computer science program in the nation.
    </p>
</div>
{%endblock content%}