{% extends "base.html" %}
{%load static%}
{%block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pagestyles/class-search.css'%}" />

<form method="POST">
    {%csrf_token%}
    <div id="search">
        <div id="filter-container">
            <div id="filter-header">
                <h2>Class Filters</h2>
                <div class="form-filter-group">
                    <span>Units:&nbsp;</span><input class="group-input" type="number" name="credit_min" placeholder="Credits" value="{{prev_query.credit_min}}"/><span>-</span><input class="group-input" type="number" name="credit_max" placeholder="Opt: Max" value="{{prev_query.credit_max}}"/>
                </div>
                <div class="form-filter-group">
                    Department: <input class="group-input" type="text" name="department" placeholder="Ex: CSDS" value="{{prev_query.department}}"/>
                </div>
                <div class="form-filter-group">
                    Code: <input class="group-input" type="number" name="code_min" placeholder="Code" value="{{prev_query.code_min}}"/>-<input class="group-input" type="number" name="code_max" placeholder="Opt: Max" value="{{prev_query.code_max}}"/>
                </div>
            </div>
        </div>
        <div id="search-container">
            <div id="search-header">
                <h1>Class Search</h1>
            </div>
            <div id="search-bar">
                <input class="group-input" type="text" name="course_name" placeholder="Class name" value="{{prev_query.course_name}}"/>
                <button type="submit">Search</button>
            </div>
            {% include 'results.html' %}
        </div>
    </div>
</form>

{%endblock content%}