{% extends "base.html" %}
{%load static%}
{%block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pagestyles/class-search.css'%}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/pagestyles/course-deps.css'%}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/pagestyles/course-suggestion.css'%}" />

<form method="POST">
    {%csrf_token%}
    <div id="search">
        <div id="search-container">
            <div id="search-header">
                <h1>Class Program Suggestions</h1>
            </div>
            <div id="search-bar">
                <input class="group-input" type="text" name="courses" placeholder="Taken Course List seperated by a comma..." value="{{prev_query.courses}}"/>
                <select id="prog-sel" name="program">
                    <option value="csbs" {% if prev_query.program == 'csbs' %}selected="selected"{% endif %}>Computer Science, BS</option>
                    <option value="csba" {% if prev_query.program == 'csba' %}selected="selected"{% endif %}>Computer Science, BA</option>
                    <option value="dsbs" {% if prev_query.program == 'dsbs' %}selected="selected"{% endif %}>Data Science, BS</option>
                </select>
                <button type="submit">Search</button>
            </div>
            {% include 'results.html' %}
        </div>
    </div>
</form>
{%endblock content%}